{% extends 'index.html' %}
{% block head %}
    {{ super() }}
    <title>{% block title %} Login {% endblock title %}</title>
{% endblock head %}
{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="notification">
    {{messages[0]}}
</div>
{% endif %}
{% endwith %}
<div class="login-container">
    <form method="POST" action="/login">
       <div class="row">
            <div class="col-12">
                <h1>Login</h1>
            </div>
        </div>
        <div class="row">
            <div class="input col-12">
                <input type="text" name="username" placeholder="Username" autofocus="">
            </div>
            <div class="input password col-12">
                <input type="password" name="password" placeholder="Password" autofocus="">
            </div>
            <div class="input submit col-12">
                <button>Sign Up</button>
            </div>
        </div> 
    </form>
</div>
    
{% endblock content %}